:root {
    /* Base palette */
    --primary-color: #dbe6b8;
    --secondary-color: #3db8e4;
    --secondary-color-alpha: #3db8e415;
    --bg-color: black;
    --text-color: white;
    --nav-link-text-color: black;
    --visited-color: #60037f;
}
body {
    background-color: var(--bg-color);
    padding: 0 0 3vw 3vw;
    /* width:90%; */
    text-align:center;
    margin: auto;
    /* min-width: 100px; */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* margin-left:5vw; */
    /* margin-right:5vw; */
}
header, p, h1, h2, table, .uk-form-label, .uk-text-meta {
    color: var(--text-color) !important;
}

header {
    /* height:80px; */
    /* line-height: 100px; */
    display: flex;
    justify-content: center;
    align-items:start;  
    gap: 1vw;
    padding-bottom: 0px;
} 
h1{
    font-size:30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 20px !important;
}
.img_title {
    width: 50px;
}

/* @media (max-width:400px) {
    .img_title {
        width: 10vw; 
        width: clamp(.7rem,10vw,50px);
    }
    header {
        font-size:clamp(.5rem,6vw,50px);
    }
} */

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;        
}

@media (max-width:650px) {
    .nav_links {
        flex-direction: column;
    }
}

.nav_links > a {
    background-color: var(--primary-color);
    margin: .5vw;
    /* vertical-align: middle; */
    /* height: 24px; */
    /* min-width: 90px; */
    /* max-width:10vw; */
    padding: 0 1vw 0 1vw;
    /* font-size: 15px; */
    font-size: clamp(.8rem,.8vw + .2rem, 4rem);
    
    border-style: solid;
    border-width: .5px;
    border-radius: 15vw;
    border-color: var(--secondary-color);
    transition: all .5s ease-out;
}
.nav_links > img {
    width:20px;
    width:20px;
}

.nav_links > a > div{
    color: var(--nav-link-text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.nav_links > a:hover {
    background-color: var(--secondary-color);
    transform: scale(1.2);
    transition: all .8s ease-out;
    /* color: green; */
}
.nav_links > a > div:visited {
    color: var(--visited-color);
}
.nav_links > a > div:active {
    text-shadow: 2px 2px 2px var(--primary-color);
}
section {
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 10px;    
}
p,table,caption,.form-section{
    background-color: var(--secondary-color-alpha);
    border-style:solid;
    border-color: var(--text-color);
    border-radius: 30px;
    border-width: 0.5px;
    margin: 3px;
    transition: all .5s ease-out;
}
.form-section {
    padding: 20px 30px;
}
p {
    padding: 5px 10px 17px;
}
p::first-letter {
font-size: 200%;
color: var(--primary-color);
}
a {
text-decoration: none;
}
caption,table{
    padding: 10px;
}

th,
td{
    padding:1rem;
}

tr:nth-of-type(2n){
    background-color: var(--secondary-color-alpha);
}

#socials{
    padding-top: 20px;
}
#socials img{
    /* filter: invert(); */
    background-color: var(--text-color);
    height: 5vw;
    margin: 1vw;
}

#facebook {
    transform: rotate(40deg);
}
#twitter {
    transform: rotate(-35deg);
}
#instagram {
    transform: rotate(15deg);
}

/* UIKit component overrides */
.uk-button-primary {
    background-color: var(--secondary-color) !important;
    color: var(--nav-link-text-color) !important;
    border-color: var(--secondary-color) !important;
}
.uk-button-primary:hover,
.uk-button-primary:focus {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.uk-input:focus,
.uk-select:focus,
.uk-textarea:focus {
    border-color: var(--secondary-color) !important;
}
.uk-link,
a.uk-link {
    color: var(--secondary-color) !important;
}
.uk-link:hover,
a.uk-link:hover {
    color: var(--primary-color) !important;
}
.uk-text-lead {
    color: var(--text-color) !important;
}
.uk-navbar-container {
    background-color: var(--bg-color) !important;
}
.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
    color: var(--text-color) !important;
}
.uk-navbar-nav > li > a:hover {
    color: var(--secondary-color) !important;
}

/* UIKit table overrides */
.uk-table-striped tbody tr:nth-of-type(odd),
.uk-table-striped > tr:nth-of-type(odd) {
    background-color: var(--secondary-color-alpha) !important;
}
.uk-table-striped tbody tr:nth-of-type(even),
.uk-table-striped > tr:nth-of-type(even) {
    background-color: transparent !important;
}
.uk-table-hover tbody tr:hover,
.uk-table-hover > tr:hover {
    background-color: var(--secondary-color) !important;
    color: var(--nav-link-text-color) !important;
}