---
layout: base.njk
---
<p>
    The band have released four studio albums to date, their most recent being More D4ta, released on May 13, 2022.
</p>
<table>
    <tr>
        <td>Album</td>
        <td>Year</td>
        <td>Lablel</td>
        <td>CD Cover</td>
    </tr>
    <tr>
        <td>Moderat</td>
        <td>2009</td>
        <td>BPitch Control</td>
        <td><img src="images/moderat_cover1.jpg" height="140" alt="cover1"></td>
    </tr>
    <tr>
        <td>II</td>
        <td>2013</td>
        <td>Monkeytown</td>
        <td><img src="images/ii_cover.jpg" height="140" alt="cover2"></td>
    </tr>
    <tr>
        <td>III</td>
        <td>2016</td>
        <td>Monkeytown</td>
        <td><img src="images/iii_cover.jpg" height="140" alt="cover3"></td>
    </tr>
    <tr>
        <td>More D4ta</td>
        <td>2022</td>
        <td>Monkeytown</td>
        <td><img src="images/mode_d4ta_cover.jpeg" height="140" alt="cover4"></td>
    </tr>
</table>
