---
layout: base.njk
---
<p class="uk-text-lead uk-text-center">
    The band has four Albums.
</p>
<table class="uk-table uk-table-striped uk-table-hover uk-table-middle">
    <thead>
        <tr>
            <th>Album</th>
            <th>Year</th>
            <th>Label</th>
            <th>CD Cover</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Moderat</td>
            <td>2009</td>
            <td>BPitch Control</td>
            <td><img src="images/moderat_cover1.jpg" height="140" alt="cover1"></td>
        </tr>
        <tr>
            <td>II</td>
            <td>2013</td>
            <td>Monkeytown</td>
            <td><img src="images/ii_cover.jpg" height="140" alt="cover2"></td>
        </tr>
        <tr>
            <td>III</td>
            <td>2016</td>
            <td>Monkeytown</td>
            <td><img src="images/iii_cover.jpg" height="140" alt="cover3"></td>
        </tr>
        <tr>
            <td>More D4ta</td>
            <td>2022</td>
            <td>Monkeytown</td>
            <td><img src="images/mode_d4ta_cover.jpeg" height="140" alt="cover4"></td>
        </tr>
    </tbody>
</table>
