---
layout: base.njk
---
<p class="uk-text-lead">Bad Kingdom</p>
<p>
    One of their most popular songs, It has a great music video filled with many dark themes.
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/3NPxqXMZq7o" title="Moderat - Bad Kingdom" frameborder="0" allowfullscreen referrerpolicy="strict-origin-when-cross-origin"></iframe>
<hr class="uk-divider-icon">
<div class="form-section">
    <h2 class="uk-text-center uk-margin-top">Stay Updated</h2>
    <p class="uk-text-meta uk-text-center">Sign up to receive news and updates about Moderat.</p>
    <form class="uk-form-stacked uk-margin">
        <div class="uk-margin">
            <label class="uk-form-label" for="signup-email">Email Address</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="email" id="signup-email" placeholder="your@email.com">
            </div>
        </div>
        <button class="uk-button uk-button-primary" type="submit">
            <span uk-icon="icon: mail"></span>
            Subscribe
        </button>
    </form>
</div>

<p class="uk-text-center uk-margin-top">
    Visit Moderat using the links below
</p>
<p id="socials">
    <a href="https://www.facebook.com/moderat.band/">
        <img src="images/logos/facebook.png" id="facebook" alt="facebook">
    </a>
    <a href="https://twitter.com/ModeratOfficial">
        <img src="images/logos/twitter.png" id="twitter" alt="twitter">
    </a>
    <a href="https://www.instagram.com/moderat/">
        <img src="images/logos/instagram.png" id="instagram" alt="instagram">
    </a>
</p>
